[2019-11-20 16:55] ascooper57 opened #1 "Getting Checkmarks to work properly with IconComponents"
![pngkey com-white-checkmark](https://user-images.githubusercontent.com/5903533/69259767-9d836500-0b73-11ea-8fea-57500a03f0cd.png)
I had to use a transparent, white, checkmark png file to get the desired behavior with this code snippet, see attachment:

[code]

![pngkey com-white-checkmark](https://user-images.githubusercontent.com/5903533/69259519-3c5b9180-0b73-11ea-90a6-e44b16e7ee61.png)

[2019-11-20 17:00] ascooper57 opened #2 "Missing fonts when using the following package.json settings"
"react": "16.8.3",
    "react-native": "https://github.com/expo/react-native/archive/sdk-35.0.0.tar.gz",
    "react-native-bottom-search-bar": "0.0.24",
    "react-native-bouncy-checkbox": "0.0.2",
    "react-native-dynamic-vector-icons": "^0.2.1",
    "react-native-iphone-x-helper": "^1.2.1",
    "react-native-vector-icons": "^6.6.0",

// ==========================================================

[2019-11-20 18:59] WrathChaos commented on #2
Hello,
I'm gonna fix you right now, so sorry just forget to remove fontFamily part :)

[2019-11-20 19:00] WrathChaos commented on #1
So there is no question over here. What is the problem?

[2019-11-20 19:18] ascooper57 commented on #1
I suggest that you modify your example code as described above and add the transparent png file to your github asset folder from this report so that your admirers can have a complete working example.

[2019-11-21 08:28] WrathChaos commented on #2
Hi again @ascooper57,
I've fixed and released a new version. Please check it out:

## [Release 0.0.3  🤩😘](https://github.com/WrathChaos/react-native-bouncy-checkbox/releases/tag/0.0.3)

[2019-11-21 08:28] #2 closed

[2019-11-21 08:28] WrathChaos commented on #1
Hi again @ascooper57,
I've updated the example and released a new version. Please check it out:

## [Release 0.0.3  🤩😘](https://github.com/WrathChaos/react-native-bouncy-checkbox/releases/tag/0.0.3)

[2019-11-21 08:28] #1 closed

[2019-12-15 15:36] Grishy opened #3 "Unable to resolve module `@freakycoder/react-native-helpers`"
Hi,

Try to start example and get:
![image](https://user-images.githubusercontent.com/13949080/70865003-402dca00-1f0d-11ea-87af-850bcc224ed8.png)

[2019-12-15 15:42] Grishy commented on #3
Just need add dep to example

[2019-12-15 16:08] WrathChaos commented on #3
You're right, I've missed that dependency. Actually it is NOT for this library's dependency just for the better design example :) I'm updating the repo now.

[2019-12-15 16:10] WrathChaos commented on #3
@Grishy I've updated the example :) Thank you so much.

[2019-12-15 16:10] #3 closed

[2019-12-26 06:24] Grishy opened #4 "Icons do not appear"
Last version
![image](https://user-images.githubusercontent.com/13949080/71461551-464f6080-27c1-11ea-982f-4e12921a9b4c.png)

And in in console:
![image](https://user-images.githubusercontent.com/13949080/71461598-6da62d80-27c1-11ea-891b-c8da7903f191.png)

[2019-12-26 07:26] Grishy opened #5 "Inconvenient to work with BottomSearchBar"
Hello,

It would be cool to be able to change the text box from `BottomSearchBar`
Now, for every change in the field, I write its value in the state of the App component.
Like this:
[code]

There is also no way to edit the text box. It would be convenient to have access to the value of `<TextInput>`
This would solve many problems.

Thanks for a good example,
Grishy

[2019-12-26 07:31] Grishy commented on #4
I tried to run, but did not help
[code]

[2019-12-26 08:00] WrathChaos commented on #4
Let me test it :) Working on it

[2019-12-26 08:06] WrathChaos commented on #4
@Grishy, I've tested the example inside of this library. Simply run this command: `rm -rf node_modules && rm -rf package-lock.json && npm install` and `react-native run-ios/android`. It works for me. If you still could not get it, please try to run this command also: `react-native link`

[2019-12-26 08:07] Grishy commented on #5
Similar situation with `BouncyCheckbox`
I did not find the ability to add callback on click (

[2019-12-26 08:12] WrathChaos opened #6 "onPress Callback the Check Value"
[@Grishy's request](https://github.com/WrathChaos/react-native-bottom-search-bar/issues/4#issuecomment-569006678)

I'm going to add this now and release a new version :)

[2019-12-26 08:15] Grishy commented on #6
@WrathChaos you change everything very quickly, cool!
But I do not need quick changes, so you can do as you like on time)

[2019-12-26 08:23] WrathChaos commented on #6
Thank you @Grishy  :) That's okay, I would like to help you.

Please check this new release:
# [Release: 0.0.5 🤩](https://github.com/WrathChaos/react-native-bouncy-checkbox/releases/tag/0.0.5)

[2019-12-26 08:57] WrathChaos commented on #4
@Grishy  I closed this issue.

[2019-12-26 09:01] Grishy commented on #4
@WrathChaos
`rm -rf node_modules && rm -rf package-lock.json && npm install and react-native run-android ` not work for me.

[2019-12-26 09:11] WrathChaos commented on #4
Are you working on Android Emulator right?

[2019-12-26 09:11] WrathChaos commented on #4
Check this out: https://github.com/oblador/react-native-vector-icons#android

[2019-12-26 09:11] #4 closed

[2019-12-26 09:13] Grishy commented on #4
Ok i will try this evening

[2019-12-26 10:21] Grishy commented on #4
Yes. And on a real device, I also checked.

[2019-12-26 10:34] WrathChaos commented on #4
You still could not get the icons? Actually this is about the `react-native-vector-icons` issue.

[2019-12-26 10:34] #6 closed

[2020-04-08 12:00] KMLX28 opened #8 ""Animated: `useNativeDriver` is not specified" warning"
Please specify the 'useNativeDriver' for this warning.

![SharedScreenshot](https://user-images.githubusercontent.com/41856121/78781781-8968c480-79a9-11ea-905d-6cf7a54da335.jpg)

[2020-04-08 12:12] WrathChaos commented on #8
I will check this warning today :) But it is just a warning, you can use it.

[2020-04-08 12:17] KMLX28 commented on #8
Thank you, I have been using your components, they are great.
Also, I hope you create a good-looking dropdown menu for RN.

[2020-04-08 14:22] WrathChaos commented on #8
I love to hear that :) Do you have any inspiration for dropdown menu? I can make it :)

[2020-04-08 15:01] KMLX28 commented on #8
see: https://tympanus.net/Development/SelectInspiration/index.html

[2020-04-08 15:14] WrathChaos commented on #8
Which one :D Actually you should take a look at mobile dropdown inspiration, web one could not be useful for mobile generally :)

[2020-04-08 16:32] WrathChaos commented on #8
@KMLX28 hey again, I could not reproduce this warning. I've updated the example in this repo. Can you please try with it?
If you still have this warning, please give me a minimal reproducible example :)

[2020-04-08 17:13] Uclidean commented on #8
I'm getting the same warning just with the basic example.

[2020-04-09 10:02] WrathChaos commented on #8
Hmm, maybe I just close the warnings.. Let me check :)

[2020-04-09 10:10] WrathChaos commented on #8
@KMLX28 , @Uclidean,
I literally could not reproduce the warning :( Can you create an example for me?

[2020-04-09 10:59] Uclidean commented on #8
@WrathChaos Something as simple as `function App() {
  return (
    <View>
      <BouncyCheckbox
      isChecked={true}
      text="Test"
/>
    </View>
  );
}` gives the warning for me. It seems to be a common issue lately, see [here](https://github.com/facebook/react-native/issues/28558 ) and [here](https://github.com/GeekyAnts/NativeBase/issues/3109)

[2020-04-09 11:39] Uclidean commented on #8
Indeed, changing BouncyCheckbox.js from ``` Animated.spring(springValue, {
        toValue: 1,
        friction: 3
      }).start();``` to ``` Animated.spring(springValue, {
        toValue: 1,
        friction: 3,
        useNativeDriver: true
      }).start();``` fixes the warning for me.

[2020-04-09 11:46] KMLX28 commented on #8
If it is not critical. just add the `useNativeDriver: true`, and that's would be enough.

[2020-04-09 13:41] KMLX28 commented on #8
you have to press (check or uncheck) the checkbox to make the warning shows up.

[2020-04-09 13:47] KMLX28 commented on #8
This one is good from Productivity Challenge Timer App

![photo_2020-04-09_16-46-02](https://user-images.githubusercontent.com/41856121/78901876-a375d600-7a81-11ea-9d0e-1d2ee4090f9c.jpg)
![photo_2020-04-09_16-46-08](https://user-images.githubusercontent.com/41856121/78901883-a53f9980-7a81-11ea-861b-97acebed14f8.jpg)

[2020-04-09 16:30] WrathChaos commented on #8
https://github.com/n4kz/react-native-material-dropdown

Here you go then

[2020-04-09 16:31] WrathChaos commented on #8
Fixing it with customizable option :)

[2020-04-09 20:41] WrathChaos commented on #8
Here you go, sorry I forgot to write it down :D
## [New release: 0.1.2 🔥](https://github.com/WrathChaos/react-native-bouncy-checkbox/releases/tag/0.1.2)

[2020-04-09 20:42] WrathChaos commented on #8
Give me feedback please, because I could not test it

[2020-04-10 11:23] KMLX28 commented on #8
now, this message shows.
![SharedScreenshot](https://user-images.githubusercontent.com/41856121/78986230-77b32880-7b33-11ea-9eb8-7d96a430777d.jpg)

this is my code:
[code]

[2020-04-10 13:57] WrathChaos commented on #8
@KMLX28,
You do not need to set `useNativeDriver` true, it is true by default. Have you tried the example app?

[2020-04-10 14:04] KMLX28 commented on #8
yes

[2020-04-10 16:11] WrathChaos commented on #8
@KMLX28,
It totally works without an error.
https://github.com/WrathChaos/BouncyCheckboxExample
Here is a simple example from stretch. Please try it out.
* npm i
* cd ios && pod install
* cd ..
* react-native run-ios/android

[2020-04-10 16:11] #8 closed

[2020-04-26 18:15] valar7068 commented on #8
just search animated.timing on folder ~\node_modules\native-base\dist\src\basic\ and add manually useNativeDriver: true or false

[2020-04-27 06:46] WrathChaos commented on #8
This is a very temporary solution. Try to use the newest version.

[2020-05-28 11:37] kurbanovjasur opened #10 "Deprecated "rnpm" config"
I got this kind of warning. Thought it would be better to inform maintainers about it.

The following packages use deprecated "rnpm" config that will stop working from next release:
  - react-native-bouncy-checkbox: https://www.freakycoder.com
Please notify their maintainers about it. You can find more details at https://github.com/react-native-community/cli/blob/master/docs/configuration.md#migra

[2020-05-28 12:05] WrathChaos commented on #10
I will resolve it ASAP :) Thank you @kurbanovjasur

[2020-05-29 13:21] WrathChaos commented on #10
@kurbanovjasur I've published a new version: [0.1.3](https://github.com/WrathChaos/react-native-bouncy-checkbox/releases/tag/0.1.3)

Please check this out and give me a feedback that bug is fixed or not :)

[2020-05-29 13:21] #10 closed

[2020-08-22 18:56] marekp97 opened #15 "Custom styling doesn't work"
Hey, a few parameters don't work for me:
borderColor
borderWidth
borderRadius

My code:
` <BouncyCheckbox
              borderColor="red"
              borderWidth={2}
              borderRadius={5}
              fillColor="red"
              unfillColor="#FFFFFF"
              iconComponent={<IconDog color={'red'} width={12} strokeWidth={3} />}
              textColor="#333"
              size={1

[2020-08-22 21:36] #15 closed, assigned to kuraydev

[2020-10-24 10:33] edwinwong90 opened #21 "How to disable checkbox?"
Hi WrathChaos,

At first, This is very nice component! After using it kinda like it. But How I can disable the checkbox like others common checkbox library do, like provide disable props?

[2020-10-24 14:35] WrathChaos commented on #21
Hello @edwinwong90
I've added the all TouchableOpacity props availability :) You can use `disabled` prop for disable the Checkbox.

Please check the new version

### [Release 1.0.8 🥳](https://github.com/WrathChaos/react-native-bouncy-checkbox/releases/tag/1.0.8)

[2020-10-24 14:35] #21 closed

[2020-10-24 15:50] edwinwong90 commented on #21
Hi @WrathChaos, just try out. It works! thanks!

[2020-10-24 15:50] WrathChaos commented on #21
If you need anything please open an issue :)

[2021-01-06 09:59] ste-hibo opened #24 "tslib"
No dependencies?
What about tslib?
I had to install it to make the component work.
https://www.npmjs.com/package/tslib

[2021-01-06 12:21] WrathChaos commented on #24
Hello @ste-hibo
Actually you need to install tslib globally, not for this package only. It requires for typscript. If you do not want to install tslib, simply copy paste the build/dist folder and use it without tslib.

[2021-02-15 09:27] Benetzz opened #27 "react-native compatibility"
Hi, what are the react-native versions supported?

Thanks

[2021-02-15 14:46] WrathChaos commented on #27
Hello @Benetzz,
It should work after 0.55+ but have not tried that below. I'm sure that it should work 0.60+

[2021-02-15 15:09] #24 closed

[2021-02-15 16:05] Benetzz commented on #27
Thanks @WrathChaos. I I have the chance I will try it with the 0.58 and give you feedback.

[2021-02-15 16:05] #27 closed

[2021-02-15 17:48] WrathChaos commented on #27
If you have a problem with 0.58, I can make it compatible if it is possible :)

[2021-02-15 22:00] WrathChaos opened #28 "Refactoring the library for 2.0 version"
- Cleaning the ugly code
- Refactoring the logics
- 1.5 version is on the way

[2021-02-24 13:22] mariomurrent-softwaresolutions commented on #28
Really nice work - looking forward to the new version

[2021-03-01 16:52] marcoslucianops opened #29 "Use like radio buttons"
Can I use this checkbox like radio buttons? I'm trying to uncheck checkbox when another one is checked. Is it possible?

[2021-03-01 21:05] WrathChaos commented on #29
Hello @marcoslucianops,
Yes of course you can, here is how to do it?
https://github.com/WrathChaos/react-native-animated-radio-button-group

Simply look at the lib code :) If you cannot do it, we can do it together

[2021-03-01 22:13] marcoslucianops commented on #29
I don't' know how to do this, can you help me? How can I set a property to check/uncheck with state like below code?

[code]
I will use only 2 checkboxes.

Thanks.

[2021-03-01 22:55] WrathChaos commented on #29
I will create an example of how to do it

[2021-03-03 05:24] marcoslucianops commented on #29
I managed to make it works. Thanks.

[2021-03-03 11:54] #29 closed

[2021-03-04 05:37] juanyaguaro commented on #29
Hi @marcoslucianops ! I'm in a similar situation, could you explain how did you make it work? Thanks!

[2021-03-04 13:52] marcoslucianops commented on #29
@juanyaguaro, I created a radio, controlled by state, based on this checkbox style.

[2021-03-13 05:55] bramirez96 opened #30 "Triggering Synthetic onPress"
Hey! I'm using your component as a custom react-hook-form connected component and I'm wondering if there's a way that i can trigger the onPress by clicking on label text? The way i have it set up the checkbox color is changing but the animation and checkbox aren't showing.

Thank you! The checkbox is really nice 💖

[2021-03-16 21:19] talisonmarafiga opened #31 "Checked text"
Is it possible to change the color text when it is checked?

[2021-03-17 16:50] Sunhat opened #32 "textColor not working on Android"
Hi, great package!

Just thought I'd mention textColor prop doesn't appear to be working on Android

[code]

[2021-03-17 18:56] WrathChaos commented on #32
Hello @Sunhat
Thank you so much for reporting this. I will fix it ASAP.

Most probably it will fix it on the fully refactored 1.5 version. I will inform you :)

[2021-03-19 15:27] WrathChaos commented on #28
EDIT: **2.0** version is incoming with better customization and better coding.

[2021-03-19 16:34] mariomurrent-softwaresolutions commented on #28
Nice, thx

[2021-03-19 18:26] seikosantana opened #33 "Enable/disable Automatic Strikethrough"
It is applying strikethrough automatically, but on some cases are not necessary

[2021-03-20 02:01] deathvendor commented on #32
I like the package, but the same problem is with borderColor, borderRadius ect...

[2021-03-20 08:50] WrathChaos commented on #32
2.0 version is going to release today :) It will solve all of these problems, I will inform you.

[2021-03-20 17:03] WrathChaos commented on #28
[Version 2.0.0 is alive  🥳](https://github.com/WrathChaos/react-native-bouncy-checkbox/releases/tag/2.0.0)

[2021-03-20 17:03] #28 closed

[2021-03-20 17:04] WrathChaos commented on #33
Hello @seikosantana,

This issue is fixed on version 2.0.0 :)

### [Version 2.0.0 is alive  🥳](https://github.com/WrathChaos/react-native-bouncy-checkbox/releases/tag/2.0.0)

[2021-03-20 17:04] #33 closed

[2021-03-20 17:04] WrathChaos commented on #32
### [Version 2.0.0 is alive  🥳](https://github.com/WrathChaos/react-native-bouncy-checkbox/releases/tag/2.0.0)

Please open a new issue if you need something else :) @Sunhat @deathvendor

[2021-03-20 17:04] #32 closed

[2021-03-20 17:08] WrathChaos commented on #31
Hello @talisonmarafiga,

Please check the new version:
### [Version 2.0.0 is alive  🥳](https://github.com/WrathChaos/react-native-bouncy-checkbox/releases/tag/2.0.0)

You can set the text colour by using `textStyle` property and set the state with `onPress` functionality. If you cannot do it, please tell me and I can show you with a simple example :)

[2021-03-20 17:08] #31 closed

[2021-03-27 21:07] awedev commented on #29
How can you get it working, the library does not expose internal state, the check mark won't display properly

[2021-03-28 10:07] WrathChaos commented on #29
@awedev The library exposes the current `isChecked` state.

Here is the example:

[code]

[2021-03-28 17:38] awedev commented on #29
@WrathChaos thanks for your reply, but the ask is to use it as a radio button. The state passed in onPress won't work, because you can't control the state.

For example, you have two checkboxes, and you want to select one of them and uncheck the other, how do you do uncheck the other without exposing the state? The existing properly isChecked is only for initial value.

[2021-03-28 19:02] WrathChaos commented on #29
@awedev

Did you investigate this one?

https://github.com/WrathChaos/react-native-animated-radio-button-group

[2021-03-30 03:15] ScottHenshaw86 commented on #30
I'm also interested in this. I'd like to be able to add a 'Check All' and 'Uncheck All' buttons, but I can't get the checkboxes to display the checkmark this way.
Otherwise this is a fantastic checkbox component. Thank you!

[2021-03-30 07:40] WrathChaos commented on #30
I will work on it this week :) PR's are also welcome

[2021-04-02 08:45] Sunhat commented on #30
Hi guys

You can toggle the isChecked prop with variable, then also set a checkboxVisible boolean, and hide the checkbox at the same time with this. When the component updates, set checkboxVisible back to true, and the component will re-render completely.

I do this to achieve the effect you're looking for. I'd provide my code, but I'm using vue-native

[2021-04-07 09:12] melihmuratpesmen opened #38 "IMPROVE Add status props"
Hi @WrathChaos
Can you add 'status' prop. İf u can add, we can  manage checkbox programmatically and manipulate without touch event is could be very usefull. Also with this prop checkbox can used as radioButton.

[2021-04-11 23:03] Sunhat commented on #33
@WrathChaos How do you disabled the strikethrough? I can't see it in the props or documentation for v2? Thanks!

[2021-04-12 11:44] WrathChaos commented on #33
Hello @Sunhat,

Here is how to do it:

[code]

It is also available on the example as well :) You can customize almost anything if you cannot please open an issue and we can make it happen. Thank you

[2021-04-12 17:55] Sunhat commented on #33
My bad! Thanks a lot!

[2021-04-17 09:26] aprilmintacpineda opened #39 "controlled input"
It's better if we get the `checked` status from `props` instead of `state`.

I have a `Checkbox` that updates to checked or unchecked when certain conditions (coming from the backend) are met, but I can't do that with this library.

[2021-04-18 16:12] WrathChaos commented on #39
Hello @aprilmintacpineda

I believe that you can make it happen with the new version. Please check it out:

## [Release 2.1.0 🥳](https://github.com/WrathChaos/react-native-bouncy-checkbox/releases/tag/2.1.0)

You need to use `disableBuiltInState` prop and you need to make sure that `isChecked` prop is your new check state functionality now.

[2021-04-18 16:13] WrathChaos commented on #30
Hello guys,
@Sunhat , @ScottHenshaw86  and @bramirez96

I've release a new version and make an example for synthetic press functionality and manual check state implementation. Please check it out:

## [Release 2.1.0 🥳](https://github.com/WrathChaos/react-native-bouncy-checkbox/releases/tag/2.1.0)

[2021-04-18 16:15] WrathChaos commented on #38
Hello @melihmuratpesmen,

I believe that you can make it happen with the new version. Please check it out:

## [Release 2.1.0 🥳](https://github.com/WrathChaos/react-native-bouncy-checkbox/releases/tag/2.1.0)

### [Documentation](https://github.com/WrathChaos/react-native-bouncy-checkbox#synthetic-press-functionality-with-manual-check-state)

You need to use `disableBuiltInState` prop and you need

[2021-04-18 16:55] melihmuratpesmen commented on #38
Thanks @WrathChaos,
Awesome feature 🚀🚀

[2021-04-18 16:55] #38 closed

[2021-04-18 18:24] bramirez96 commented on #30
Thank you so much! I'll check it out tomorrow, I'm very excited for this new functionality!!

[2021-04-25 02:19] aprilmintacpineda commented on #39
Thanks @WrathChaos but I think the onPress is not working as expected anymore

https://github.com/WrathChaos/react-native-bouncy-checkbox/commit/09e21ca03608e61b787c87bf8a6414cc1182f08e#r49958499

[2021-04-25 13:48] WrathChaos commented on #30
@bramirez96 Did you have a chance to test it out? I'm gonna close this issue depends on it

[2021-04-25 13:52] WrathChaos commented on #39
Hello @aprilmintacpineda,

Thank you for reporting.
Actually when the dev set `disableBuiltInState` prop,  he/she should control the `check` state. That's why I did not re-pass the `isChecked` prop because it is already available with the local state.

[2021-04-26 02:14] aprilmintacpineda commented on #39
Then I guess the docs is now misleading

![image](https://user-images.githubusercontent.com/21032419/116020052-1c89a080-a678-11eb-9a38-02c68aa7a8a2.png)

https://github.com/WrathChaos/react-native-bouncy-checkbox#synthetic-press-functionality-with-manual-check-state

[2021-04-26 12:48] WrathChaos commented on #39
@aprilmintacpineda Awesome explanation! Actually, I really want to put it in the library's `onPress` passing however there can be some scenarios in which the dev wants to handle it on its own. However, yes doc is misleading I will update it.

[2021-04-26 22:40] aprilmintacpineda commented on #39
Looks good to me, but I think someone looking at this the first time might not fully understand it. https://github.com/WrathChaos/react-native-bouncy-checkbox/pull/40

[2021-04-27 10:32] WrathChaos commented on #39
Thank you so much @aprilmintacpineda, merged :)

[2021-04-27 10:32] #39 closed

[2021-04-27 16:24] #30 closed

[2021-05-16 15:31] lightning331 opened #44 "Distance between the icon and text?"
How can I control the distance between the icon and text?

[2021-05-16 19:24] WrathChaos commented on #44
Hello @lightning331
The new version is available to customize the text container. Please try `textContainerStyle` prop to push the distance for the checkbox and the text.

### [Version 2.1.1](https://github.com/WrathChaos/react-native-bouncy-checkbox/releases/tag/2.1.1)

[2021-05-16 19:35] lightning331 commented on #44
Hello @WrathChaos

Thanks for the fast reply. how should I style the textContainerStyle prop?
Can you give me an example for that?

[2021-05-16 20:49] WrathChaos commented on #44
Sure @lightning331

[code]

You can do such a thing :)

[2021-05-16 23:28] #44 closed

[2021-06-03 19:35] adrienfloor opened #45 "Can't show the checkmark"
Hi, and thank you for the awesome library! Great work.

I can't seem to make the checkmark appear, I either have an empty round icon or a filled one, but never see the checkmark.

I'm using :
    "react-native-bouncy-checkbox": "^2.1.1",
    "react-native": "^0.62.2"
Here is my code :
[code]
Would you have any idea what I'm doing wrong?
Thank you very much for your help !!!

[2021-06-03 19:48] WrathChaos commented on #45
Hello @adrienfloor,
Can you try the example project?
Also, which version are you using on react-native-bouncy-checkbox?

[2021-06-03 19:53] adrienfloor commented on #45
I'm using :
"react-native-bouncy-checkbox": "^2.1.1"
😊

[2021-06-03 20:00] adrienfloor commented on #45
Do you think I need react-native-vector-icons and all ?
Just so you know, it is working as expected when I build on iOS version 13.x.x but not on 14.x.x.
Thank you very much for your help !

[2021-06-03 20:44] WrathChaos commented on #45
You do not need react-native-vector-icons  library. Can you share the project with me because I cannot reproduce it with the example or any of my projects.

[2021-06-04 15:03] adrienfloor commented on #45
My bad, updating react-native version made it work. Closing the issue, thank you very much for your help 🙌🏼

[2021-06-04 15:03] #45 closed

[2021-06-04 18:52] WrathChaos commented on #45
If you need any other help, feel free to go :)

Have fun! @adrienfloor

[2021-06-18 08:59] SrinivasanJms opened #49 "Reduce the space between checkbox and text"
How to reduce or increase the space between checkbox and text field?
![Simulator Screen Shot - iPhone 11 - 2021-06-18 at 14 24 56](https://user-images.githubusercontent.com/80248449/122535750-7b004900-d041-11eb-9cfc-905065a23138.png)

Thanks in advance

[2021-06-18 09:17] #49 closed

[2021-06-18 09:18] SrinivasanJms commented on #49
Answer is:

textContainerStyle={{
         marginLeft: 32
    }}

[2021-06-24 04:31] aminsaedi opened #50 "Rtl support"
Hi.
it's a great lib. please add rtl languages supports to it.

[2021-06-24 04:33] aminsaedi commented on #50
to add rtl the only things that should change is to move checkbox should be on right side and text on left.

[2021-06-27 16:23] crowdn opened #51 "how can i change the distance between the check icon and the text"
How can i change the distance between the check icon and the text.
![image](https://user-images.githubusercontent.com/33209857/123552067-09459f00-d7a7-11eb-88d3-228a8b0b4198.png)

[2021-06-27 18:04] WrathChaos commented on #51
https://github.com/WrathChaos/react-native-bouncy-checkbox/issues/49#issuecomment-863892905

Here is what you're looking for.
[code]

You can customize almost everything

[2021-06-28 14:18] crowdn commented on #51
Thank you! it work to me. 'react-native-bouncy-checkbox' is a nice component.

[2021-06-28 14:18] #51 closed

[2021-06-30 07:03] ziniuguo opened #52 "If padding is used in style, some text seems to be 'squeezed out'"
my code:
[code]

If i write paddingHorizontal, the text will be squeezed out.

![7LLTS I2E3$}XS)4~5NW1AS](https://user-images.githubusercontent.com/51998550/123916460-416dfd00-d9b4-11eb-8e5d-c1342173b07d.png)

How to solve this problem

Thanks in advance!

[2021-06-30 07:15] ziniuguo commented on #52
I added paddingRight: 30 (same value as the ScrollView one) in the style of BouncyCheckbox, it works. Although idk why.

[2021-06-30 09:54] WrathChaos commented on #52
Hello @ziniuguo
I've never used such a long text. I need to test it.

[2021-07-16 11:59] hungdev opened #54 "How to change to square checkbox?"
Thank you for your work.

[2021-07-16 13:39] WrathChaos commented on #54
Hello @hungdev
Thank you so much for using this library :)
You can use something like that and change almost anything with `style` and `iconStyle` props to customize the checkbox
[code]

[2021-07-17 08:34] hungdev commented on #54
Thank you. It worked!

[2021-07-17 08:34] #54 closed

[2021-07-17 18:36] dancixx opened #55 "TouchableWithoutFeedback change to Pressable"
Do you plan to upgrade to the Pressable component?

[2021-07-18 13:52] WrathChaos commented on #55
Hello @dancixx,

Sure, I haven't use the `Pressable` for now but I can upgrade it :)

[2021-07-18 14:06] dancixx commented on #55
@WrathChaos

It would be great. The react-native docs mention that devs prefer should use this component and really much better than the others. :)

[2021-07-20 14:48] WrathChaos commented on #55
@dancixx

[Release 2.1.3](https://github.com/WrathChaos/react-native-bouncy-checkbox/releases/tag/2.1.3)

is available and you can use any Touchable component with the new prop: `TouchableComponent`

You can simply use

[code]

[2021-07-20 14:58] dancixx commented on #55
Awesome!!! Thanks. :)

[2021-07-22 19:39] #55 closed

[2021-07-22 19:43] dancixx commented on #55
@WrathChaos thanks for the update. I think everything works for now what I had time to test for. :)

[2021-07-22 22:47] WrathChaos commented on #55
@dancixx Love to hear that :) Thank you so much man

[2021-07-24 12:54] chzappsinc commented on #50
@aminsaedi try row-reverse View 😎

[2021-07-28 05:35] PreetikaSingh opened #57 "Adding multicolour text to check box gives warning"
I have a requirement to add multicolour text to checkbox. I have achieved the same, but it always shows a warning 'Warning: Each child in a list should have a unique "key" prop.' , which looks annoying. Can there be a feature to add multicolour text as per index? Here is my code for the same

[code]

[2021-08-09 02:05] Darkensses opened #58 "tslib is needed to work with Expo"
### How to reproduce:

- Create an expo projects an install the `react-native-bouncy-checkbox` component.
- Try to copy the code example to your projects.

**Expected Result**: You should see a checkbox in your device screen
**Actual Result**: The console prints an error saying `tslib could not be found within the project`

**Workaround**:
Installing the tslib package
[code]

[2021-08-09 12:00] WrathChaos commented on #58
Hello @Darkensses
`tslib` is a Typescript helper library. It is a dev-dependency need. This is not a bug or something.

[2021-08-09 12:00] #58 closed

[2021-09-03 21:23] melihmuratpesmen opened #59 "react-native-bouncy-checkbox-group"
**Enhancement / Idea**
It can be useful if the group feature is added to the library. Or it could be a container group.

These libs can give an idea:
https://github.com/callstack/react-native-paper/tree/main/src/components/Checkbox
https://github.com/atasmohammadi/react-native-checkbox-group

[2021-09-13 23:54] DakshChhokra opened #61 "react-native-bouncy-checkbox fails `tsc --noEmit -p .`"
When `tsc --noEmit -p .` is run  react-native-bouncy-checkbox  fails with

[code]

I was wondering if this would be addressed so I could use this on typescript projects with no warnings

[2021-09-14 13:58] arunim2405 opened #62 "Feature Requesst: Add Checkbox Group"
Add a checkbox group component so that management of many checkboxes can be easier

[2021-09-14 15:42] WrathChaos commented on #61
Hello @DakshChhokra,

Thank you for reporting the issue.
I'm going to fix it ASAP.

[2021-09-14 18:30] WrathChaos commented on #62
Do you want something like this
#59

[2021-09-15 06:14] arunim2405 commented on #59
Another reference https://docs.nativebase.io/checkbox#checkbox-group

[2021-09-15 06:14] arunim2405 commented on #62
Yes, closing this issue as a duplicate to #59

[2021-09-15 06:14] #62 closed

[2021-09-15 09:27] WrathChaos commented on #59
Thank you guys, I will check them out and make a new `react-native-bouncy-checkbox-group` library SOON! :)

[2021-10-05 12:15] dancixx opened #64 "Hitslop typedef error"
Hi!

If I redefine the `TouchableComponent` property with the `Pressable` component then I would like to set the `hitSlop` but I got an error.

`Type 'number' is not assignable to type 'Insets | undefined'`
When we use `Pressable` I think the `hitSlop` can be a `number` type too.

[code]

[2021-10-09 13:38] WrathChaos commented on #61
Hello @DakshChhokra,

I've come with a fix :)
Please try [Version 2.1.6](https://github.com/WrathChaos/react-native-bouncy-checkbox/releases/tag/2.1.6)

Give me a feedback please :)

[2021-10-09 13:42] WrathChaos commented on #64
Hello @dancixx ,

<img width="564" alt="CleanShot 2021-10-09 at 16 39 50@2x" src="https://user-images.githubusercontent.com/6813862/136660168-b60a74e5-0b3c-4e83-a611-dd29d11fb788.png">

As you can see `hitSlop` prop requires the `Insets` type not `number`. You should use it actually. If you really want to use a number one, you should write your own `Touchable` component and accepts a `number` prop

[2021-10-09 13:42] #64 closed

[2021-10-09 13:42] #61 closed

[2021-10-09 14:40] itsramiel opened #65 "Check png is not found"
I am using the package with with typescript template and here are is my dependency list:
"@react-navigation/bottom-tabs": "^6.0.7",
    "@react-navigation/native": "^6.0.4",
    "@react-navigation/native-stack": "^6.2.2",
    "expo": "~42.0.1",
    "expo-status-bar": "~1.0.4",
    "react": "16.13.1",
    "react-dom": "16.13.1",
    "react-native": "https://github.com/expo/react-native/archive/sdk-

[2021-10-09 14:42] ramiel1999 commented on #65
chech.png is missing from the build/dist

[2021-10-09 16:36] #65 closed, assigned to kuraydev

[2021-11-02 16:38] idanlevi1 commented on #21
@WrathChaos
It's work, but I can use it because `disabled` is not defined in props type...can you add it?

[2021-11-22 12:45] RodrigoSarmento commented on #38
Why is this not the default?

[2021-11-22 12:54] WrathChaos commented on #38
It's much easier to use with automatic handling. It's not easy to a ready-use checkbox if you need to handle its state. However, of course in some use-cases you need to handle yourself that's why I made it possible :)

[2021-12-01 10:09] lukasa1993 opened #73 "unable to build react-native-vector-icons 9.0.0"
[code]

using "react-native-bouncy-checkbox": "^2.1.7"

problem with "react-native-vector-icons": "9.0.0" works with 8.1.0

[2021-12-01 14:26] WrathChaos commented on #73
Hello,
Let me test it very fast with the vector-icons v9.
Thank you for the reporting this issue :)

[2021-12-01 14:33] lukasa1993 commented on #73
ios

[2021-12-01 18:22] WrathChaos commented on #73
Hey again @lukasa1993,

It also works on iOS as well. Try to remove your `node_modules` and `Pods.lock` files.

Then try to run `npm i && npx pod-install`

It should work, also there is no dependency to use the library.

[2021-12-01 18:25] lukasa1993 commented on #73
i tried but will try again

[2021-12-11 12:01] chaosLegacy commented on #73
I'm facing the same issue on expo running under android device
Downgrading react-native-vector-icons to 8.1.0 seems to fix the issue

[2021-12-11 14:38] WrathChaos commented on #73
There is no dependency on the react-native-vector-icons on this library. Probably this is the react-native-vector-icons' problem.

[2021-12-11 14:38] #73 closed

[2021-12-11 14:39] lukasa1993 commented on #73
its in peer-dependency

  "peerDependencies": {
    "react": ">= 16.x.x",
    "react-native": ">= 0.55.x",
    "react-native-vector-icons": ">= 6.6.0",
    "react-native-dynamic-vector-icons": ">= 0.2.1"
  },

[2021-12-11 15:10] WrathChaos commented on #73
Forgot to remove them, I will remove them now. Thank you for let me know :)

[2021-12-11 15:38] WrathChaos commented on #73
Hello again @lukasa1993, @chaosLegacy

I published the [2.1.8](https://github.com/WrathChaos/react-native-bouncy-checkbox/releases/tag/2.1.8) version.

Peer dependencies are removed and better tsconfig is here with the `tslib` dependency is no longer exist :)

[2021-12-11 15:38] lukasa1993 commented on #73
thank you 👍

[2021-12-11 15:44] WrathChaos commented on #73
@lukasa1993 Can you please tell me if there is still a problem with `react-native-vector-icon` v9?

[2021-12-11 16:35] lukasa1993 commented on #73
it works with V9 now with ` "react-native-bouncy-checkbox": "^2.1.8",` 👍

[2021-12-19 16:57] dancixx opened #83 "Migrate to react-native-reanimated"
Do you plan to migrate to the RN-Reanimated 2? Sometimes the check animation is freezing when the JS Thread is full.

[2021-12-24 10:27] WrathChaos commented on #83
Hello @dancixx,

I actually really want to improve the bouncing logic and replace the react-native Animated one with reanimated 2 however I'm thinking about the dependency problem. What do you think about that?

[2021-12-24 11:25] dancixx commented on #83
I can understand your dilemma in the case of zero dependencies but for example, I use Reanimated2 everywhere and I think much more future forwarded like react-native animated API, by the way, you have access to the threads and the animations are much smoother and the new Reanimated 2 has support for 120 fps animations. I thought for a long time that I can avoid the Reanimated 2 but in bigger proje

[2021-12-24 12:26] WrathChaos commented on #83
Maybe I can create another library with the reanimated 2, I love the library itself but zero dependencies is really cool to use. We also need to think about the other devs too. Probably another library and mentioning it on the README is a much better idea.

[2022-01-05 16:00] dmahajan980 opened #84 "Passing custom text component throws an error in TypeScript"
Whenever a custom component is passed to the `textComponent` prop, TypeScript throws the following error:

<img width="713" alt="Screenshot 2022-01-05 at 9 25 28 PM" src="https://user-images.githubusercontent.com/37256767/148248467-3ac8fe2c-51d2-461d-8edb-c45a9477324c.png">

Stack details:
Expo SDK 44.0.0
React Native v0.64.3
React v17.0.1
TypeScript v4.3.5

[2022-01-05 18:10] WrathChaos commented on #84
Hello @dmahajan980
Thank you so much for reporting this.

I will fix it now :)

[2022-01-05 18:39] WrathChaos commented on #84
Hello again @dmahajan980

I think I fixed it and fixed many more.

Can you please try the new release: [2.1.10](https://github.com/WrathChaos/react-native-bouncy-checkbox/releases/tag/2.1.10)

[2022-01-05 18:40] #50 closed

[2022-01-05 21:03] dmahajan980 commented on #84
Hi @WrathChaos, thanks for resolving this so quickly! Seems that the latest version (2.1.10) isn't published on NPM yet. I'll try this later tomorrow while NPM publishes this.

[2022-01-05 21:04] WrathChaos commented on #84
@dmahajan980
I guess it is published now. If you have time, can you try it?

[2022-01-06 09:36] dmahajan980 commented on #84
@WrathChaos I tried this and everything seems to work perfectly. Thank you so much for quickly fixing this bug 😊

[2022-01-06 09:38] dmahajan980 commented on #84
@WrathChaos
Also, is it possible to change the color of default check icon? I can't get it changed without using a custom icon.

[2022-01-06 17:20] WrathChaos commented on #84
@dmahajan980

You can use iconImageStyle with tintColor style :)

[2022-01-06 17:20] #84 closed

[2022-02-01 09:00] mohammedelnady commented on #83
please don't migrate to reanimated it has many issues during debugger

[2022-02-01 11:56] WrathChaos commented on #83
Hello @mohammedelnady,
I will re-write the `react-native-bouncy-checkbox` with reanimated v2 but on another separated library. You can still use this without any issue don't worry :)

[2022-02-01 12:58] mohammedelnady commented on #83
thanks man

[2022-03-05 12:12] #83 closed

[2022-03-05 12:13] WrathChaos opened #90 "React Native Reanimated v2 Version"
React Native Reanimated v2 Version

[2022-03-05 12:13] WrathChaos commented on #83
We can continue with this issue: #90

[2022-04-04 06:21] bytesagar opened #92 "Not toggling after setting disableBuildInState"
So I am using react-hook-form for my getting value
[code]

When I enable disableBuiltInState button doesnot toggle. And after resetting it with default value checkedState is showing but when clicked again it does not toggle.

[2022-04-04 06:35] WrathChaos commented on #92
Hello @bytesagar
Have you checked the [manual-state-example](https://github.com/WrathChaos/react-native-bouncy-checkbox/tree/master/example-manual-state)

Let me check your solution as well

[2022-04-04 06:48] bytesagar commented on #92
@WrathChaos isn't react-hook-form onChange supposed to work for manual state.?

[2022-04-04 06:51] bytesagar commented on #92
@WrathChaos
[code]
this is working as it is supposed to but When I try to set a default value. It doesn't work after some digging found that we have to disable the builtinstate. But now how should I make that work with react-hook-form?

[2022-04-04 07:00] WrathChaos commented on #92
Honestly, never worked with `react-hook-form` I need to research about it

[2022-04-04 07:07] bytesagar commented on #92
@WrathChaos having hard time to figure out its usage with react-hook-form. Can you please look into this issue. Would be really helpful.

[2022-04-04 07:29] bytesagar commented on #92
@WrathChaos everything works fine when I tried using expo-checkbox.  Can you make a prop available onChangeValue as in expo-checkbox.

[2022-04-04 09:06] WrathChaos commented on #92
I will take a look this evening @bytesagar

[2022-04-04 09:35] bytesagar commented on #92
@WrathChaos  Thank you, will be waiting for your response.

[2022-04-05 04:29] bytesagar commented on #92
Hello @WrathChaos  is there any update on the issue?

[2022-04-28 01:11] alexisbl14 opened #97 "Disable checkbox image"
Hi WrathChaos,
Is there a way to disable the checkbox image entirely and just have a filled in box when it is "checked"?

Thanks!

[2022-04-28 09:45] WrathChaos commented on #97
Hello @alexisbl14
Thank you for writing.

You can use `iconComponent` for disabling the image completely
[code]

Something like this :)

[2022-05-07 18:53] husseinmansour6 opened #98 "Toggling the checkboxes is not working when calling a function within the handelOnPress function!"
Hey @WrathChaos ,

I have a `Flatlist` that has some BouncyCheckbox components.

[code]

Whats happening is that when when I call the `setWorkToDo([...workToDo, service])` or `R.filter(isAvailable, workToDo)` within the `handelWorkToDo` function, checkbox state is not being changed.

however if I remove/comment out those functions, the checkboxes are being checked without issues.

I would like to

[2022-05-07 19:40] WrathChaos commented on #98
Hello @husseinmansour6
Thank you for reaching me and using this library :)

I guess you need to set a manual state instead of built-in state system.
Please take a look at the [Manual Check State](https://github.com/WrathChaos/react-native-bouncy-checkbox#synthetic-press-functionality-with-manual-check-state)

[2022-05-07 19:41] #97 closed

[2022-05-08 21:53] husseinmansour6 commented on #98
Hey @WrathChaos ,

Thanks for the quick reply!

I had to do some work around for it to work as expected however it would be nice to support that within ur lib.

I took a look into the Manual check state and I saw that you are using one checkbox to toggle on/off with a useState hook. It would be nice to have an example of using multiple checkboxes that can toggle them with useState hook.

Thank you

[2022-05-15 07:55] WrathChaos commented on #98
@husseinmansour6 glad to hear that you can make it work :)

I will try to make an example for multiple checkboxes with manual state but if you would like to contribute to library. I'll love to add the example with your use-cases as well :) It will surely help other people as well

[2022-05-15 07:55] #98 closed

[2022-05-15 15:03] husseinmansour6 commented on #98
@WrathChaos yeah sure I would love to share my approach and you decide whether you keep it or find a better way.
Do i need to get access in order to contribute?

[2022-05-15 19:03] WrathChaos commented on #98
@husseinmansour6
Nope, you can make a fork or if you want you can share it in here or make a gist and we can add as a separate documentation.

[2022-05-19 09:13] LastSpirit opened #101 "Incorrect display"
If you set the width of the border, a space appears
![Screenshot_1](https://user-images.githubusercontent.com/61553803/169258167-b61fd8b1-ad14-410d-8ed9-1e5bd8c538ee.jpg)
![Screenshot_2](https://user-images.githubusercontent.com/61553803/169258192-0ae55e51-fab3-4be0-b976-6282724a7fcd.jpg)

[2022-05-19 09:49] WrathChaos commented on #101
Hello @LastSpirit,
Don't you think this is normal? Since you set the `borderWidth` it will display a border width :) If I misunderstood you, please explain what is wrong with this?

[2022-05-21 02:22] husseinmansour6 commented on #98
@WrathChaos Hey again, I forked the repo and tried to run it and I got some issues. Do you have a documentation on how to run it or could you please explain it briefly here?

[2022-05-21 15:02] LastSpirit commented on #101
Hi @WrathChaos ,
The problem is the white lines inside the square. The border is clearly highlighted

[2022-05-23 08:47] WrathChaos commented on #98
Hello again,
Sorry for late response.
What do you mean by the issues? Are you trying to run the `example` or `example-manuel-state`?

[2022-05-26 18:03] husseinmansour6 commented on #98
Yeah Im trying to run the example one. should I run a different one?

[2022-05-26 20:19] husseinmansour6 commented on #98
okay I'll try again and let you know

[2022-05-26 22:30] husseinmansour6 commented on #98
So, I was able to run it and just created a PR for my changes. Please take a look [here](https://github.com/WrathChaos/react-native-bouncy-checkbox/pull/102) and let me know your thoughts :)

[2022-05-31 01:08] husseinmansour6 commented on #98
@WrathChaos any updates?

[2022-05-31 11:25] WrathChaos commented on #98
Hey @husseinmansour6 Really sorry for late response. I will take a look at it today. Extremely busy days

[2022-06-01 12:42] louisholley opened #103 "check icon not rendering on react native web"
hey, thanks for this package it looks great! I've added it to a react native web project and the checkbox seems to toggle state correctly but no check icon is shown, so it's just a colour changing box currently...I've tried passing in an `iconComponent` but when i do that the iconComponent is always rendered, even when the box isn't checked

[2022-06-14 06:26] th1copycatninja opened #106 "not able to change icon ."
really loved your library but i want to change the icon but not able to change. i also used checkIconImageSource , iconComponent also, can you please help.

[2022-06-14 06:42] WrathChaos commented on #106
Hello @th1copycatninja,
You can directly use `iconComponent` to set any component instead of the default check image component.

Something like this:
[code]

[2022-06-14 06:55] th1copycatninja commented on #106
thanks its worked.

[2022-06-14 06:55] #106 closed

[2022-06-20 03:30] teckbeng-payboy opened #107 "Color of checked icon"
May I know is there any props for me to change the color of checked icon? This is due to the background color of my checkbox will be white in color

[2022-06-20 05:24] WrathChaos commented on #107
Hello @teckbeng-payboy
You can override the default icon style with `iconImageStyle` prop. So you can use `tintColor` to change the icon's color.

OR

you can use `iconComponent` prop to set your own icon component as you wish.

Something like this:
[code]

[2022-06-20 07:15] teckbeng-payboy commented on #107
I'm sorry, is there `iconImageStyle` prop?

You mean like this

`<BouncyCheckbox
   iconImageStyle={styles.xxx}
   onPress={(isChecked: boolean) => {}}
/>`

[2022-06-24 09:56] Pippouz opened #110 "How to move text on left"
It is possible to move the text of the checkbox to left, obviously with checkbox on right?

[2022-06-26 10:09] WrathChaos commented on #110
Hello @Pippouz
By default, we don't have that kind of support. However, you can use `disableText` prop to disable the right text and put a text by yourselves and handle it :)

The library is all customizable. If you need help to do that, please write me down ;)

[2022-06-26 10:09] #107 closed

[2022-06-26 11:59] Pippouz commented on #110
ok, thanks for the info

[2022-06-26 11:59] Pippouz commented on #110
ok, thanks for the info

[2022-06-26 12:07] #110 closed

[2022-06-30 20:04] chzappsinc commented on #57
You should have unique key in each list

[code]

[2022-07-11 10:24] TheYuriG commented on #101
This will only happen if you change borderWidth. If you only change the radius and don't change the borderWidth, it won't. There must have been some bug calculating the size of the internal icon and animation by literally 1 pixel. Seems like a good first PR for an eager open source contributor.

[2022-07-19 06:57] WrathChaos commented on #92
Sorry guys, I didn't have time to look at this.

Can someone give me a minimal reproducible example? so it will make it very fast.

[2022-07-26 20:46] WrathChaos commented on #101
Hey @LastSpirit

Can you give me a full reproducible code? I could not reproduce it with the latest version (2.1.13)

I want to fix it asap

[2022-07-26 20:59] TheYuriG commented on #101
You can reproduce the issue using the code in the image:
[code]

[2022-07-26 23:07] WrathChaos commented on #101
@TheYuriG is this iOS or Android?

[2022-07-26 23:28] TheYuriG commented on #101
Android emulator for me

[2022-07-27 07:56] WrathChaos commented on #101
Yep, I made it for android. It is working well on iOS but not android.
I will fix it :) (Hope :D)

[2022-07-27 07:58] TheYuriG commented on #101
It's only my pleasure to do something in return for this package. Thanks for getting to it.

[2022-07-27 12:09] WrathChaos commented on #101
Hey again @TheYuriG  and @LastSpirit
I fixed it :)

Also, there are cool changes on animation, please check out the new version:

### [Version 3.0.0 is here 🚀](https://github.com/WrathChaos/react-native-bouncy-checkbox/releases/tag/3.0.0)

[2022-07-27 13:13] TheYuriG commented on #101
Oh god
![image](https://user-images.githubusercontent.com/63727493/181255594-62115348-1c6b-4f73-8a4e-69fa62b68740.png)

[2022-07-27 15:02] WrathChaos commented on #101
Thank you for feedback, let me check very fast

[2022-07-27 15:28] WrathChaos commented on #101
@TheYuriG Found the press problem, fixing it now :)

[2022-07-27 15:34] TheYuriG commented on #101
Amazing, do you want me to open a separate issue so you can track that independently? Didn't mean to hijack this issue with something else.

[2022-07-27 15:37] WrathChaos commented on #101
I already fixed it @TheYuriG. Can you please try with version 3.0.1?

[2022-07-27 21:51] TheYuriG commented on #101
Yeah, both working now.
![image](https://user-images.githubusercontent.com/63727493/181378514-36e37845-80f7-42bc-ac3b-d7ef8293e95c.png)
If you are willing to take feedback, I would center it automatically without putting that responsibility on the developer. This is how your users will expect the module to work, please don't give them extra overhead to manage and boilerplate to write.

As far as I

[2022-07-28 07:30] #101 closed

[2022-07-28 07:31] WrathChaos commented on #101
@TheYuriG
All the feedbacks are welcome :)
I will set the center into the parent container and release a patch.

Thank you for testing and helping me out! 🥰

[2022-07-28 07:36] TheYuriG commented on #101
No problem, man. Just happy to give something back to the community. :)

[2022-07-28 07:49] WrathChaos commented on #101
### [Version 3.0.2](https://github.com/WrathChaos/react-native-bouncy-checkbox/releases/tag/3.0.2)

Center styling :)

@TheYuriG FYI

[2022-08-03 01:55] Exhigh opened #124 "Issue with the advanced custom example given in the readme"
https://github.com/WrathChaos/react-native-bouncy-checkbox#advanced-custom-usage

[code]

[2022-08-03 06:52] WrathChaos commented on #124
Hello @Exhigh
Ah thank you so much for reporting this issue.

I forgot to change the old examples :D I will update it now

[2022-08-04 20:08] elaad24 opened #126 "Issue with the square checkbox example in FAQ in readme"
https://github.com/WrathChaos/react-native-bouncy-checkbox#FAQ

[code]

[2022-08-09 22:02] Exhigh commented on #92
For those having issues with the checkbox not rendering with disableBuiltInState in react native

You can replace the source content in the file  '`node_modules\react-native-bouncy-checkbox\build\dist\BouncyCheckbox.js`'
with the one provided below, clearly the solution isn't that great but it works for now, give it a try.

Also you will need to handle the IsChecked state externally, to restore th

[2022-08-10 18:19] VitorGabs opened #129 "Enable checkbox by reference doesn't work"
Trying to activate the checkbox by reference an error occurs, is informed that the onPress method does not exist.
![1a846968-4639-43f7-aba6-6666b06773b9](https://user-images.githubusercontent.com/109994601/183987472-dcf19a78-4a95-4b79-947d-de8603bc5c37.png)

[2022-08-16 01:21] plainspace opened #131 "Nested items"
Hey there! Have you thought about implementing nested items?

[2022-08-16 06:22] ibrar-web opened #132 "state management"
checkbox only update state if we click box otherwise checkbox don't update state

[2022-08-16 06:57] WrathChaos commented on #131
Hello @plainspace
Can you explain what do you mean by nested items? Can you give an example?

[2022-08-16 06:59] WrathChaos commented on #132
Hello @ibrar-web
I don't exactly understand what do you mean. Do you want to update the checkbox with ref?

[2022-08-16 10:52] plainspace commented on #131
Basically being able to drag a list item into/onto a top level list item.

![image](https://user-images.githubusercontent.com/24152/184862066-4c4c6022-0499-42fc-92e9-1d47828e1faf.jpeg)

[2022-08-16 10:57] plainspace commented on #131
Going to close the issue. Realized that it isn't relevant.

[2022-08-16 10:57] #131 closed

[2022-08-16 11:30] WrathChaos commented on #131
Actually this is do-able with a custom solution :) You can use your own state management for checkboxes.
Take a look at [this](https://github.com/WrathChaos/react-native-bouncy-checkbox#synthetic-press-functionality-with-manual-check-state)

[2022-08-16 16:24] WrathChaos commented on #126
https://github.com/WrathChaos/react-native-bouncy-checkbox/commit/b0a6f5c91055734e633f271e89eb1200457dc061

Thank you so much for this issue @elaad24 :)

[2022-08-16 16:24] #126 closed

[2022-08-16 16:25] WrathChaos commented on #124
https://github.com/WrathChaos/react-native-bouncy-checkbox/commit/baa208a29fcd91306603a4fc68734e6d02a14bb8

Thank you so much :)

[2022-08-16 16:25] #124 closed

[2022-08-18 00:48] VitorGbrl commented on #132
i think it is the same problem as the last issue (ref problem).
is it hard to fix? @WrathChaos

[2022-08-18 05:22] PopJoestar commented on #129
Did you find a solution?

[2022-08-18 07:16] WrathChaos commented on #129
I will take a look at this today, thank you for reporting this @VitorGabs
Sorry for late response tho

[2022-08-18 07:16] WrathChaos commented on #132
I will take a look at this today
Sorry for late response tho

[2022-08-25 06:31] partTimeCoder96 opened #133 "how to change unfill icon style round to square"
<BouncyCheckbox
                  size={25}
                  fillColor={colors.nightRider}
                  unfillColor="#FFFFFF"
                   iconStyle={{ borderColor:colors.nightRider,borderRadius:2 }}
                  //  iconInnerStyle={{ height:240,borderRadius:2 }}
                  onPress={(isChecked: boolean) => {}}
                  useNativeDriver={true}
                  style

[2022-08-25 11:54] partTimeCoder96 commented on #133
![IMG_0047](https://user-images.githubusercontent.com/33393692/186657431-67f658a5-9af5-47c6-8d59-9c1f0ecf7652.PNG)
![IMG_0046](https://user-images.githubusercontent.com/33393692/186657448-0716aecf-a866-442a-b49c-0538feab9e73.PNG)

[2022-08-26 15:04] WrathChaos commented on #133
Hello @partTimeCoder96 ,
Can you please use `innerIconStyle` instead of `iconInnerStyle`.
Probably this will fix your issue

[2022-08-26 15:15] jessica-lei opened #135 "Manual checkbox state not working with other code"
I wanted to do more in the onPress than just toggling the state of the checkbox, so I created an onCheckItem() function.

`

    const onCheckItem = () => {

    setCheckboxState(!checkboxState);

    if (!checkedItems.includes(name)) {
      let tempItems = [...checkedItems, name];
      setCheckedItems(tempItems);
    }
    else {
      let tempItems = checkedItems.filter(item => item !== name);

[2022-08-26 15:23] WrathChaos commented on #132
Hey again @VitorGbrl
There is a disable built-in state prop. Have you tried it? Otherwise, I really need a code example to fix this

[2022-08-26 19:06] jessica-lei commented on #135
Issue resolved - it had more to do with getting/setting state from the parent component rather than keeping track of checkboxState in the current component.

[2022-08-26 19:06] #135 closed

[2022-08-29 06:39] partTimeCoder96 commented on #133
yes, it's fixed thanks.

[2022-08-29 06:39] #133 closed

[2022-09-26 16:27] omniviewsports commented on #132
@WrathChaos

I have a login screen (see below for source code) where I am disabling a login button util the user accepts a EULA agreement by clicking the checkbox. The code works, but I get the following TS error:

Type 'boolean | (() => void)' is not assignable to type '((checked: boolean) => void) | undefined'.
Type 'boolean' is not assignable to type '(checked: boolean) => void'.

Any advice on

[2022-09-30 00:29] omniviewsports opened #157 "onPress TS Error"
@WrathChaos

I have a login screen (see below for source code) where I am disabling a login button until the user accepts a EULA agreement by clicking the checkbox. The code works, but I get the following TS error:

Type 'boolean | (() => void)' is not assignable to type '((checked: boolean) => void) | undefined'.
Type 'boolean' is not assignable to type '(checked: boolean) => void'.

Any advice o

[2022-09-30 08:39] KacperHemperek commented on #129
Yeah I keep getting same error using expo with JS, could it be a problem with using JS instead of TS?

[2022-09-30 09:21] WrathChaos commented on #129
This is probably an expo issue, I never use expo so I never get the error itself since I use this library all of my real products.

I will try to reproduce it on expo project

[2022-09-30 09:25] WrathChaos commented on #157
Hello @omniviewsports
Thank you for using the library :)

Actually I cannot even see the usage of `react-native-bouncy-checkbox` in the example code. Do I miss anything?

[2022-09-30 09:26] WrathChaos commented on #132
Please continue with your own issue :) Thank you

[2022-10-04 18:53] omniviewsports commented on #157
@WrathChaos (sorry, for some reason that part did not paste - here is the code).

import BouncyCheckbox from 'react-native-bouncy-checkbox';
import { View, Text } from 'components';
import { useToggle } from 'handlers';
import { constants } from 'config';
import { LoginHeader, LoginButton, EulaAgreement } from './elements';
import { loginScreenStyles } from './styles';
import { onLogin } from './l

[2022-10-04 19:27] WrathChaos commented on #157
@omniviewsports I am sorry but I will not download this file because of security reasons :)

[2022-10-07 08:10] ydv0121 opened #158 "Import issue"
After importing the `import BouncyCheckbox from "react-native-bouncy-checkbox";` got below error on render

`"react-native": "0.61.5"`

![Screenshot 2022-10-07 at 1 40 04 PM](https://user-images.githubusercontent.com/37238045/194505276-e89464b8-6366-4758-b1d7-f69d42f6c5b3.png)

[2022-10-07 12:13] WrathChaos commented on #158
Hello @ydv0121
Thank you for reporting this :)

I just published `3.0.5` version of the library. Can you try this version?

It seems it works without any problem on `example` project

[2022-10-07 12:23] ydv0121 commented on #158
Thanks for prompt response.

I updated it to `3.0.5` still facing same.

if I downgrade it to `2.1.13` its working without any issue with `"react-native": "0.61.5"`

and yes it working fine with `example` project which has `RN Version 69` so I think issue is related to `"react-native"`

[2022-10-07 12:54] WrathChaos commented on #158
Hmmm, Actually `0.61.5` is really low react-native version.

I will create a 61.5 version and try to fix it but I'm not promising anything since it is pretty low version of react native

[2022-10-07 13:06] ydv0121 commented on #158
Right.
So people who are using older RN Version probably lower then `0.65` should use `v2.1.13`

[2022-10-07 13:07] #158 closed

[2022-10-07 17:12] omniviewsports commented on #157
@WrathChaos for some reason, when I paste the source code, the BouncyCheckBox component does not show up.
Accordingly, the parameters I pass to the component are

- onPress{setTermsAccepted}
- size={12}

The component is wrapped by a View and followed by a text component that recites the EULA agreement.

[2022-10-10 11:54] WrathChaos commented on #157
Hmm, I guess I got it why you're having this error. It is because `react-native-bouncy-checkbox` has its own check state system built-in.

You want to control it with `useToggle` hook. So you need to use `disableBuiltInState` props to control your own whole check system for the checkbox button :)

Please check this doc part:
https://github.com/WrathChaos/react-native-bouncy-checkbox#synthetic-pres

[2022-10-17 13:45] MordechaiCharlap opened #161 "Checkbox doesnt work on android emulator (React native 0.69.6)"
![image](https://user-images.githubusercontent.com/74620228/196192923-7543a3fd-c18c-4ae3-ae21-e03c6d2bde81.png)
As you can see on the emulator I get error, terminal says :
› Reloading apps
Android Bundling failed 8ms
Unable to resolve "react-native-bouncy-checkbox" from "screens\LoginScreen.js"

 while on the web its working fine and shows in the UI

[2022-10-17 15:00] WrathChaos commented on #161
Hello @MordechaiCharlap

Thank you for reporting the issue, I am checking right now :)

[2022-10-17 15:01] WrathChaos commented on #161
Hey again @MordechaiCharlap
I tried to run the `example` app on android it works without any issue. Can you try the example project please?

[2022-10-17 15:02] #157 closed

[2022-10-17 15:02] #132 closed

[2022-10-17 19:27] MordechaiCharlap commented on #161
Hey @WrathChaos , thanks for the fast reply :)
actually just downloaded the example and haven`t managed to open it.. a lot of errors I'm not sure why..
I already made checkbox component by myself, if it works for you I guess it's a problem just for me..
But maybe you should update the react native before you try just to make sure (I see that the react native version in the example is 0.69.2 and in

[2022-10-17 19:44] WrathChaos commented on #161
I'm using this library multiple projects and multiple react-native versions which includes latest RN version 0.70+. I could not reproduce your issue.

Can you show me your issues with the example one? Example is extremely simple project.

[2022-11-10 17:03] itsramiel commented on #129
`onPress` is no longer a method

[2022-11-11 14:09] WrathChaos commented on #129
What do you mean? What should we use instead of it?

[2022-11-11 14:14] #161 closed

[2022-11-11 14:16] WrathChaos commented on #92
Hello @Exhigh
Can you create a PR with this fix? we can make it better together if you don't mind

[2022-11-11 14:23] itsramiel commented on #129
From the source code, I can see that you can still pass `onPress` as a prop, but you can not invoke `onPress` on the ref of BouncyCheckbox. I see there is a `handleCheck`, which you invoke but the bounciness effect will not trigger.

Arent you the maintainer of the package? You should  know that already.

[2022-11-11 14:27] itsramiel commented on #129
You can downgrade to the version that used to support `onPress` or you can rewrite the logic

[2022-11-11 17:48] WrathChaos commented on #129
You're totally right @itsramiel
@VitorGabs, @KacperHemperek, @PopJoestar,

Complete my bad, while re-writing version 3, I totally forgot about the synthetic `onPress` with the [Release 3.0.6](https://github.com/WrathChaos/react-native-bouncy-checkbox/releases/tag/3.0.6). You can use synthetic `onPress` now.

For now, this is just a hotfix. It works without any problem but there is no `bounce` effe

[2022-11-11 17:48] #129 closed

[2022-11-26 17:55] yasmany993 opened #180 "Property isChecked is not working"
When using
< BouncyCheckbox
      size={20}
      isChecked={true}
  />
component is not being checked

[2022-11-26 18:00] #180 closed

[2022-11-26 18:01] yasmany993 commented on #180
Opened by mistake, component works as expected